@{
//    @model dotnet_basics.Controllers.ContactController.QueryModel
      @model dotnet_basics.Controllers.ContactController.RouteModel
}


@{
    @ViewBag.Message
    //@Model.Category : @Model.Brand

    <br />

    <p>Route Parameter</p>
    @Model.Name <br /> @Model.Surname <br /> @Model.Age
}

